@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
	display: none !important;
}
:root {
	--primary: #154ec6;
	--font1: 'Montserrat', sans-serif;
	---font2: 'Poppins', sans-serif;
}

body {
	font-family: var(--font1);
}

h1 {
	@apply text-6xl text-primary font-medium;
}

h2 {
	@apply text-5xl;
}

h3 {
}

h4 {
}

p {
}

.button {
	display: inline-flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	text-align: center;
	border-radius: 0.5rem;
	cursor: pointer;
	padding: 1rem 4rem;
	min-height: 3.3rem;
	font-weight: 600;
	/* box-shadow: 0 4px 3px rgba(0, 0, 0, 0.1); */
	transition-property: transform;
	transition-duration: 0.2s;
	color: white;
	font-size: 1rem;
	background-color: var(--primary);
	border-radius: 40px;
	text-transform: uppercase;
}

.img_container {
	grid-area: image;
}

.heading {
	grid-area: header;
}

.cards {
	grid-area: card;
}

.section_trendy {
	display: grid;
	grid-template-rows: auto;

	grid-template-areas:
		'header'
		'image'
		'card';
}
/* 
@media all and (min-width: 1024px) {
	.section_trendy {
		grid-template-areas:
			'image image image image header header header header header'
			'image image image image card card card card card';
	}
} */

@media all and (min-width: 1024px) {
	.section_trendy {
		grid-template-areas:
			'image image image image header header header header header'
			'image image image image card card card card card';
	}
}
